egs/arctic/exp/*/wav
egs/arctic/exp/*/predictions
egs/arctic/data/wav
egs/arctic/data/hdf5
egs/arctic/data/stats
egs/arctic/data/scp/*.list
egs/vcc18/exp/*/wav
egs/vcc18/exp/*/predictions
egs/vcc18/data/wav
egs/vcc18/data/hdf5
egs/vcc18/data/stats
egs/vcc18/data/scp/*.list
egs/vasc/exp/*/wav
egs/vasc/exp/*/predictions
egs/vasc/data/wav
egs/vasc/data/hdf5
egs/vasc/data/stats
egs/vasc/data/scp/*.list
venv
usfgan.egg-info
__pycache__
settings.json